@model IEnumerable<Survey_Project.Models.Questions>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int number = 1, mines=0;
}

<div class="card">
    <div class="card-body">
        <div class="card-title"> Answer Survey Page </div>
        <hr>
        @using (Html.BeginForm("Create", "Answer"))
        {
            <div class="form-group">
                @Html.DropDownList("Code", (SelectList)ViewBag.User, "Please Select Person (Category/Question??)", new { @class = "form-control" })
            </div>
            @*<div class="form-group">
                <label for="input-2">Code</label>
                <input type="text" class="form-control" name="Code" id="input-2" placeholder="Enter Code (username)" maxlength="25" required>
            </div>*@

            foreach (var item in Model)
            {
                <input name="@item.Question" id="Question_@item.Id" value="@item.Question" type="hidden" />
                <span style="font-weight:bold">@number)</span>
                @item.Question
                <br /> <br />

                <div class="icheck-material-primary icheck-inline">
                    <input type="radio" id="Id_@item.Id" name="Answer_@item.Id" class="radio_@item.Id" value="@Survey_Project.Constants.AnswerType.Yes"> @*value was "Yes"*@
                <label for="Id_@item.Id">@Survey_Project.Constants.AnswerType.Yes</label>

                    <input type="radio" id="Id_@mines" name="Answer_@item.Id" class="radio_@item.Id" value="@Survey_Project.Constants.AnswerType.No">  @*value was "No"*@
                <label for="Id_@mines">@Survey_Project.Constants.AnswerType.No</label>

                </div>
               
                 @Scripts.Render("~/bundles/jquery") // Script yüklenmesi için sonradan ekledim
                <script>
                    $('.radio_@item.Id').click(function ()
                    {
                               var formdata = new FormData();

                               var code = $('#Code').val(); 
                               formdata.set("Code", code);

                               var namesurname = $('#Code :selected').text(); 
                        formdata.set("NameSurname", namesurname);



                               var question = $('#Question_@item.Id').val();
                               formdata.set("Question", question);// get related question

                               var answer = $('input[name ="Answer_@item.Id"]:checked').val();
                               formdata.set("Answer", answer);

                                if (code == '')
                                 {
                                      $('#WarningMessage').modal('show')
                                    return;
                                 }

                               $.ajax({
                                   url: "/Answer/SendData",
                                   data: formdata,
                                   type: "POST",
                                   cache: false,
                                   contentType: false,
                                   processData: false,
                                   success: function (data) {
                                       if (data == "True") {

                                       }
                                   },
                                   error: function (data) {
                                       alert("An error occured during adding operation!");
                                   }
                               });
                           });

                </script>

                mines--;
                number++;
            }

            @*<div class="form-group">
                <label for="input-3">Password</label>
                <input type="password" class="form-control" name="Password" id="input-3" placeholder="Enter Password" maxlength="25" required>
            </div>*@

            <div class="form-group">
                <button type="submit" class="btn btn-primary shadow active-info px-5"><i class="icon-lock"></i> Save</button>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="WarningMessage">
    <div class="modal-dialog">
        <div class="modal-content border-warning">
            <div class="modal-header bg-warning">
                <h5 class="modal-title text-white"><i class="fa fa-warning"></i> Warning! </h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>
                    <p>Please Select Person </p>           
                </h4>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>